<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
<body >
    <div id="caja_login">
        <div id="logo">
          <img src="assets/image/OidoAmigo.png" alt="" style="margin-top: 30%; margin-left: -170px;" width="350px">
        </div>
        <div id="login">
          <div id="caja">
            <h1 class="title" >BIENVENDIDO/A  PSICÓLOGO/A:</h1>
            <h4 class= "subtitle" >Ingrese su Usuario y Contraseña: </h4>
            <form [formGroup]="signin">
                  <mat-form-field class="example-full-width" appearance="fill" id="usuario">
                        <mat-label>Username </mat-label>
                        <input type="email" matInput  [(ngModel)]="persona.codigo" [formControl]="emailFormControl"  placeholder="Ex. ChristianAtencio" >
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Ingrese un <strong>Usuario</strong> válido
                        </mat-error>
                  </mat-form-field>            
                  <mat-form-field class="example-full-width" appearance="fill"  id="contraseña">
                    <mat-label>Password </mat-label>
                      <input matInput placeholder="Password"  [(ngModel)]="persona.password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint>
                  </mat-form-field>

                  <button mat-flat-button  id="btn_login" (click)="signIn()">INICIAR SESIÓN</button>
            </form>    
          </div>
        </div>
    </div>

</body>